<h1>Logar usuário</h1>

<div>
    <form action="/usuarios/login" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Senha">

        <button type="submit">Logar</button>
    </form>
</div>